In [214]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import requests
import time

In [185]:
for ticker in holdings:
    d={'function': 'STOCH','apikey':"YEUC2DL0F7KC43PB",'symbol':ticker,'interval':'daily','fastkperiod':22 }
    response = requests.get(
        'https://www.alphavantage.co/query',
        params=d,
        )
    slowk=[]
    slowd=[]
    for key, val in response.json()['Technical Analysis: STOCH'].items():
        slowk.append(float(val['SlowK']))
        slowd.append(float(val['SlowD']))
        
    sto=pd.DataFrame({'Date':list(response.json()['Technical Analysis: STOCH'].keys()),
                 'k':slowk,
                  'd':slowd
                 })
    sto=sto.astype({'Date': 'datetime64'})
    sto.sort_values(by='Date',inplace=True)
    sto['k_change'] = sto.k/sto.k.shift(3)-1
    print(sto)

           Date        k        d  k_change
5006 2000-06-23  83.5821  90.2647       NaN
5005 2000-06-26  76.6470  83.7611       NaN
5004 2000-06-27  72.5592  77.5961       NaN
5003 2000-06-28  72.8650  74.0237 -0.128222
5002 2000-06-29  65.1787  70.2010 -0.149625
...         ...      ...      ...       ...
4    2020-05-13  80.0734  89.8020 -0.170811
3    2020-05-14  72.7483  81.5540 -0.253805
2    2020-05-15  72.9614  75.2610 -0.205561
1    2020-05-18  83.2266  76.3121  0.039379
0    2020-05-19  87.9615  81.3832  0.209121

[5007 rows x 4 columns]
                    Date        k        d  k_change
5007 2000-06-23 00:00:00  63.5805  70.4796       NaN
5006 2000-06-26 00:00:00  52.4017  63.1431       NaN
5005 2000-06-27 00:00:00  51.4799  55.8207       NaN
5004 2000-06-28 00:00:00  57.8360  53.9059 -0.090350
5003 2000-06-29 00:00:00  69.9660  59.7606  0.335186
...                  ...      ...      ...       ...
4    2020-05-14 00:00:00  64.2778  63.6943  0.038014
3    2020-05-15 00:00:00  65.8436  64.6611  0.046078
2    2020-05-18 00:00:00  61.6815  63.9343 -0.034142
1    2020-05-19 00:00:00  58.2242  61.9164 -0.094179
0    2020-05-20 12:39:35  63.6804  61.1954 -0.032854

[5008 rows x 4 columns]
                    Date        k        d  k_change
5007 2000-06-23 00:00:00  84.5246  89.7989       NaN
5006 2000-06-26 00:00:00  81.7766  84.7504       NaN
5005 2000-06-27 00:00:00  83.0780  83.1264       NaN
5004 2000-06-28 00:00:00  87.1749  84.0099  0.031355
5003 2000-06-29 00:00:00  89.8988  86.7173  0.099322
...                  ...      ...      ...       ...
4    2020-05-14 00:00:00  87.6284  90.9484 -0.006709
3    2020-05-15 00:00:00  80.0700  87.2405 -0.121980
2    2020-05-18 00:00:00  69.4179  79.0387 -0.261693
1    2020-05-19 00:00:00  66.4628  71.9836 -0.241538
0    2020-05-20 12:38:46  67.7948  67.8918 -0.153306

[5008 rows x 4 columns]
           Date        k        d  k_change
1560 2014-03-10  89.3050  88.7811       NaN
1559 2014-03-11  84.5969  88.0493       NaN
1558 2014-03-12  74.3165  82.7394       NaN
1557 2014-03-13  72.5586  77.1573 -0.187519
1556 2014-03-14  74.4105  73.7618 -0.120411
...         ...      ...      ...       ...
4    2020-05-13  81.0487  89.9348 -0.127903
3    2020-05-14  74.6230  82.5170 -0.229709
2    2020-05-15  80.0731  78.5816 -0.128497
1    2020-05-18  91.0747  81.9236  0.123703
0    2020-05-19  95.1470  88.7650  0.275036

[1561 rows x 4 columns]

In [240]:
holdings=['GDX','RHHBY','ETSY','ECL','OLLI','BLK','SPY','SPXL','AZN','CDNS','CWH','BYND']
#holdings=['BLK']

In [241]:
res=[[],[],[],[],[]]

In [242]:
c=1
for ticker in holdings:
    c+=1
    if c==5:
        c=1
        time.sleep(60)
    d={'function': 'TIME_SERIES_DAILY_ADJUSTED','apikey':"YEUC2DL0F7KC43PB",'symbol':ticker,'outputsize':'full'}
    response = requests.get(
        'https://www.alphavantage.co/query',
        params=d,
        )
    spy=[[],[],[],[],[],[],[]]
    for key, val in response.json()['Time Series (Daily)'].items():
        spy[0].append(float(val['1. open']))
        spy[1].append(float(val['2. high']))
        spy[2].append(float(val['3. low']))
        spy[3].append(float(val['4. close']))
        spy[4].append(float(val['5. adjusted close']))
        #spy[5].append(float(val['6. volume']))
        #spy[6].append(float(val['7. dividend amount']))
    t=list(response.json()['Time Series (Daily)'].keys())
    try:
        if (pd.to_datetime(t[0]).date()==pd.Timestamp.today().date())==False:
            #print('Notlive')
            d={'token':"pk_9469e57bc642462d905e4dc0003523ab",'chartIEXOnly':'False','chartLast':'1'}
            response = requests.get(
            'https://cloud.iexapis.com/stable/stock/{}/intraday-prices?'.format(ticker)#token={}&chartIEXOnly=True&chartLast=1'.format(holdings[0],'pk_9469e57bc642462d905e4dc0003523ab'),
            ,params=d,
            )
            
            spy[0].insert(0,float(response.json()[0]['open']))
            spy[1].insert(0,float(response.json()[0]['high']))
            spy[2].insert(0,float(response.json()[0]['low']))
            spy[3].insert(0,float(response.json()[0]['close']))
            spy[4].insert(0,float(response.json()[0]['close']))
            t.insert(0,str(response.json()[0]['date']))

            #spy[0].append(float(t.insert(0,response2.json()[0]['date'])))
    except:
        print(ticker,'hi')


        
        
    spy=pd.DataFrame({'Date':t,
                 'open':spy[0],
                  'high':spy[1],
                  'low':spy[2],
                  'close':spy[3],
                  'adj_close':spy[4]#,
                #  'volume':spy[5],
                #  'dividend':spy[6],
                 })
    spy=spy.astype({'Date': 'datetime64'})
    spy=spy.sort_values(by='Date')
    spy['highest_high']=spy.high.rolling(22).max()
    spy['lowest_low']=spy.low.rolling(22).min()
    spy['k']=(spy.close-spy.lowest_low)/(spy.highest_high-spy.lowest_low)
    spy['k']=spy.k.rolling(3).mean()
    spy['k_change'] = spy.k/spy.k.shift(3)-1
    res[0].append(ticker)
    res[1].append(spy.iloc[-1]['Date']) 
    res[2].append(spy.iloc[-1]['k']) 
    res[3].append(spy.iloc[-1]['k_change'])
    res[4].append(np.nanpercentile(spy.k_change,q=10))

RHHBY hi
ETSY hi

In [243]:
res=pd.DataFrame({'ticker':res[0], 
            'date':res[1],
             'k':res[2],
             'k_change':res[3],
             'k_percentile':res[4]
             }
            )

In [244]:
res.sort_values(by='k_change',ascending=True)

   ticker       date         k  k_change  k_percentile
2    ETSY 2020-05-22  0.542108 -0.277232     -0.431956
0     GDX 2020-05-22  0.691736 -0.227935     -0.527796
1   RHHBY 2020-05-22  0.612703 -0.187107     -0.498993
9    CDNS 2020-05-22  0.814759 -0.124237     -0.448981
3     ECL 2020-05-22  0.776406 -0.122289     -0.415256
7    SPXL 2020-05-22  0.864769 -0.029510     -0.430054
6     SPY 2020-05-22  0.894025 -0.006486     -0.454726
11   BYND 2020-05-22  0.828730 -0.001953     -0.473010
10    CWH 2020-05-22  0.945343  0.019678     -0.516107
8     AZN 2020-05-22  0.689813  0.046740     -0.511606
5     BLK 2020-05-22  0.779406  0.050720     -0.442091
4    OLLI 2020-05-22  0.995156  0.063223     -0.413098

In [ ]:
pk_444bcc6ef4a94b859405ef30fe66fa14 
https://cloud.iexapis.com/stable/stock/QQQ/intraday-prices?token=pk_9469e57bc642462d905e4dc0003523ab&chartIEXOnly=True&chartLast=1

In [170]:
if ~(pd.to_datetime(list(response.json()['Time Series (Daily)'].keys())[0])==pd.Timestamp.today()):
    d={'function': 'TIME_SERIES_INTRADAY','apikey':"YEUC2DL0F7KC43PB",'symbol':'MBUU','interval':'1min'}
    response = requests.get(
        'https://www.alphavantage.co/query',
        params=d,
        )

In [189]:
d={'token':"pk_9469e57bc642462d905e4dc0003523ab",'chartIEXOnly':'True','chartLast':'1'}
response2 = requests.get(
        'https://cloud.iexapis.com/stable/stock/{}/intraday-prices?'.format('MBUU')#token={}&chartIEXOnly=True&chartLast=1'.format(holdings[0],'pk_9469e57bc642462d905e4dc0003523ab'),
        ,params=d,
        )

In [180]:
t=pd.DataFrame(response.json()[0]['date'],response.json()[0]['open'],response.json()[0]['high'],response.json()[0]['low'],response.json()[0]['close'],response.json()[0]['close'])

TypeError: __init__() takes from 1 to 6 positional arguments but 7 were given

In [190]:
date=list(response.json()['Time Series (Daily)'].keys())

In [192]:
date.insert(0,response2.json()[0]['date'])

In [193]:
date

['2020-05-20',
 '2020-05-19',
 '2020-05-18',
 '2020-05-15',
 '2020-05-14',
 '2020-05-13',
 '2020-05-12',
 '2020-05-11',
 '2020-05-08',
 '2020-05-07',
 '2020-05-06',
 '2020-05-05',
 '2020-05-04',
 '2020-05-01',
 '2020-04-30',
 '2020-04-29',
 '2020-04-28',
 '2020-04-27',
 '2020-04-24',
 '2020-04-23',
 '2020-04-22',
 '2020-04-21',
 '2020-04-20',
 '2020-04-17',
 '2020-04-16',
 '2020-04-15',
 '2020-04-14',
 '2020-04-13',
 '2020-04-09',
 '2020-04-08',
 '2020-04-07',
 '2020-04-06',
 '2020-04-03',
 '2020-04-02',
 '2020-04-01',
 '2020-03-31',
 '2020-03-30',
 '2020-03-27',
 '2020-03-26',
 '2020-03-25',
 '2020-03-24',
 '2020-03-23',
 '2020-03-20',
 '2020-03-19',
 '2020-03-18',
 '2020-03-17',
 '2020-03-16',
 '2020-03-13',
 '2020-03-12',
 '2020-03-11',
 '2020-03-10',
 '2020-03-09',
 '2020-03-06',
 '2020-03-05',
 '2020-03-04',
 '2020-03-03',
 '2020-03-02',
 '2020-02-28',
 '2020-02-27',
 '2020-02-26',
 '2020-02-25',
 '2020-02-24',
 '2020-02-21',
 '2020-02-20',
 '2020-02-19',
 '2020-02-18',
 '2020-02-14',
 '2020-02-13',
 '2020-02-12',
 '2020-02-11',
 '2020-02-10',
 '2020-02-07',
 '2020-02-06',
 '2020-02-05',
 '2020-02-04',
 '2020-02-03',
 '2020-01-31',
 '2020-01-30',
 '2020-01-29',
 '2020-01-28',
 '2020-01-27',
 '2020-01-24',
 '2020-01-23',
 '2020-01-22',
 '2020-01-21',
 '2020-01-17',
 '2020-01-16',
 '2020-01-15',
 '2020-01-14',
 '2020-01-13',
 '2020-01-10',
 '2020-01-09',
 '2020-01-08',
 '2020-01-07',
 '2020-01-06',
 '2020-01-03',
 '2020-01-02',
 '2019-12-31',
 '2019-12-30',
 '2019-12-27',
 '2019-12-26',
 '2019-12-24',
 '2019-12-23',
 '2019-12-20',
 '2019-12-19',
 '2019-12-18',
 '2019-12-17',
 '2019-12-16',
 '2019-12-13',
 '2019-12-12',
 '2019-12-11',
 '2019-12-10',
 '2019-12-09',
 '2019-12-06',
 '2019-12-05',
 '2019-12-04',
 '2019-12-03',
 '2019-12-02',
 '2019-11-29',
 '2019-11-27',
 '2019-11-26',
 '2019-11-25',
 '2019-11-22',
 '2019-11-21',
 '2019-11-20',
 '2019-11-19',
 '2019-11-18',
 '2019-11-15',
 '2019-11-14',
 '2019-11-13',
 '2019-11-12',
 '2019-11-11',
 '2019-11-08',
 '2019-11-07',
 '2019-11-06',
 '2019-11-05',
 '2019-11-04',
 '2019-11-01',
 '2019-10-31',
 '2019-10-30',
 '2019-10-29',
 '2019-10-28',
 '2019-10-25',
 '2019-10-24',
 '2019-10-23',
 '2019-10-22',
 '2019-10-21',
 '2019-10-18',
 '2019-10-17',
 '2019-10-16',
 '2019-10-15',
 '2019-10-14',
 '2019-10-11',
 '2019-10-10',
 '2019-10-09',
 '2019-10-08',
 '2019-10-07',
 '2019-10-04',
 '2019-10-03',
 '2019-10-02',
 '2019-10-01',
 '2019-09-30',
 '2019-09-27',
 '2019-09-26',
 '2019-09-25',
 '2019-09-24',
 '2019-09-23',
 '2019-09-20',
 '2019-09-19',
 '2019-09-18',
 '2019-09-17',
 '2019-09-16',
 '2019-09-13',
 '2019-09-12',
 '2019-09-11',
 '2019-09-10',
 '2019-09-09',
 '2019-09-06',
 '2019-09-05',
 '2019-09-04',
 '2019-09-03',
 '2019-08-30',
 '2019-08-29',
 '2019-08-28',
 '2019-08-27',
 '2019-08-26',
 '2019-08-23',
 '2019-08-22',
 '2019-08-21',
 '2019-08-20',
 '2019-08-19',
 '2019-08-16',
 '2019-08-15',
 '2019-08-14',
 '2019-08-13',
 '2019-08-12',
 '2019-08-09',
 '2019-08-08',
 '2019-08-07',
 '2019-08-06',
 '2019-08-05',
 '2019-08-02',
 '2019-08-01',
 '2019-07-31',
 '2019-07-30',
 '2019-07-29',
 '2019-07-26',
 '2019-07-25',
 '2019-07-24',
 '2019-07-23',
 '2019-07-22',
 '2019-07-19',
 '2019-07-18',
 '2019-07-17',
 '2019-07-16',
 '2019-07-15',
 '2019-07-12',
 '2019-07-11',
 '2019-07-10',
 '2019-07-09',
 '2019-07-08',
 '2019-07-05',
 '2019-07-03',
 '2019-07-02',
 '2019-07-01',
 '2019-06-28',
 '2019-06-27',
 '2019-06-26',
 '2019-06-25',
 '2019-06-24',
 '2019-06-21',
 '2019-06-20',
 '2019-06-19',
 '2019-06-18',
 '2019-06-17',
 '2019-06-14',
 '2019-06-13',
 '2019-06-12',
 '2019-06-11',
 '2019-06-10',
 '2019-06-07',
 '2019-06-06',
 '2019-06-05',
 '2019-06-04',
 '2019-06-03',
 '2019-05-31',
 '2019-05-30',
 '2019-05-29',
 '2019-05-28',
 '2019-05-24',
 '2019-05-23',
 '2019-05-22',
 '2019-05-21',
 '2019-05-20',
 '2019-05-17',
 '2019-05-16',
 '2019-05-15',
 '2019-05-14',
 '2019-05-13',
 '2019-05-10',
 '2019-05-09',
 '2019-05-08',
 '2019-05-07',
 '2019-05-06',
 '2019-05-03',
 '2019-05-02',
 '2019-05-01',
 '2019-04-30',
 '2019-04-29',
 '2019-04-26',
 '2019-04-25',
 '2019-04-24',
 '2019-04-23',
 '2019-04-22',
 '2019-04-18',
 '2019-04-17',
 '2019-04-16',
 '2019-04-15',
 '2019-04-12',
 '2019-04-11',
 '2019-04-10',
 '2019-04-09',
 '2019-04-08',
 '2019-04-05',
 '2019-04-04',
 '2019-04-03',
 '2019-04-02',
 '2019-04-01',
 '2019-03-29',
 '2019-03-28',
 '2019-03-27',
 '2019-03-26',
 '2019-03-25',
 '2019-03-22',
 '2019-03-21',
 '2019-03-20',
 '2019-03-19',
 '2019-03-18',
 '2019-03-15',
 '2019-03-14',
 '2019-03-13',
 '2019-03-12',
 '2019-03-11',
 '2019-03-08',
 '2019-03-07',
 '2019-03-06',
 '2019-03-05',
 '2019-03-04',
 '2019-03-01',
 '2019-02-28',
 '2019-02-27',
 '2019-02-26',
 '2019-02-25',
 '2019-02-22',
 '2019-02-21',
 '2019-02-20',
 '2019-02-19',
 '2019-02-15',
 '2019-02-14',
 '2019-02-13',
 '2019-02-12',
 '2019-02-11',
 '2019-02-08',
 '2019-02-07',
 '2019-02-06',
 '2019-02-05',
 '2019-02-04',
 '2019-02-01',
 '2019-01-31',
 '2019-01-30',
 '2019-01-29',
 '2019-01-28',
 '2019-01-25',
 '2019-01-24',
 '2019-01-23',
 '2019-01-22',
 '2019-01-18',
 '2019-01-17',
 '2019-01-16',
 '2019-01-15',
 '2019-01-14',
 '2019-01-11',
 '2019-01-10',
 '2019-01-09',
 '2019-01-08',
 '2019-01-07',
 '2019-01-04',
 '2019-01-03',
 '2019-01-02',
 '2018-12-31',
 '2018-12-28',
 '2018-12-27',
 '2018-12-26',
 '2018-12-24',
 '2018-12-21',
 '2018-12-20',
 '2018-12-19',
 '2018-12-18',
 '2018-12-17',
 '2018-12-14',
 '2018-12-13',
 '2018-12-12',
 '2018-12-11',
 '2018-12-10',
 '2018-12-07',
 '2018-12-06',
 '2018-12-04',
 '2018-12-03',
 '2018-11-30',
 '2018-11-29',
 '2018-11-28',
 '2018-11-27',
 '2018-11-26',
 '2018-11-23',
 '2018-11-21',
 '2018-11-20',
 '2018-11-19',
 '2018-11-16',
 '2018-11-15',
 '2018-11-14',
 '2018-11-13',
 '2018-11-12',
 '2018-11-09',
 '2018-11-08',
 '2018-11-07',
 '2018-11-06',
 '2018-11-05',
 '2018-11-02',
 '2018-11-01',
 '2018-10-31',
 '2018-10-30',
 '2018-10-29',
 '2018-10-26',
 '2018-10-25',
 '2018-10-24',
 '2018-10-23',
 '2018-10-22',
 '2018-10-19',
 '2018-10-18',
 '2018-10-17',
 '2018-10-16',
 '2018-10-15',
 '2018-10-12',
 '2018-10-11',
 '2018-10-10',
 '2018-10-09',
 '2018-10-08',
 '2018-10-05',
 '2018-10-04',
 '2018-10-03',
 '2018-10-02',
 '2018-10-01',
 '2018-09-28',
 '2018-09-27',
 '2018-09-26',
 '2018-09-25',
 '2018-09-24',
 '2018-09-21',
 '2018-09-20',
 '2018-09-19',
 '2018-09-18',
 '2018-09-17',
 '2018-09-14',
 '2018-09-13',
 '2018-09-12',
 '2018-09-11',
 '2018-09-10',
 '2018-09-07',
 '2018-09-06',
 '2018-09-05',
 '2018-09-04',
 '2018-08-31',
 '2018-08-30',
 '2018-08-29',
 '2018-08-28',
 '2018-08-27',
 '2018-08-24',
 '2018-08-23',
 '2018-08-22',
 '2018-08-21',
 '2018-08-20',
 '2018-08-17',
 '2018-08-16',
 '2018-08-15',
 '2018-08-14',
 '2018-08-13',
 '2018-08-10',
 '2018-08-09',
 '2018-08-08',
 '2018-08-07',
 '2018-08-06',
 '2018-08-03',
 '2018-08-02',
 '2018-08-01',
 '2018-07-31',
 '2018-07-30',
 '2018-07-27',
 '2018-07-26',
 '2018-07-25',
 '2018-07-24',
 '2018-07-23',
 '2018-07-20',
 '2018-07-19',
 '2018-07-18',
 '2018-07-17',
 '2018-07-16',
 '2018-07-13',
 '2018-07-12',
 '2018-07-11',
 '2018-07-10',
 '2018-07-09',
 '2018-07-06',
 '2018-07-05',
 '2018-07-03',
 '2018-07-02',
 '2018-06-29',
 '2018-06-28',
 '2018-06-27',
 '2018-06-26',
 '2018-06-25',
 '2018-06-22',
 '2018-06-21',
 '2018-06-20',
 '2018-06-19',
 '2018-06-18',
 '2018-06-15',
 '2018-06-14',
 '2018-06-13',
 '2018-06-12',
 '2018-06-11',
 '2018-06-08',
 '2018-06-07',
 '2018-06-06',
 '2018-06-05',
 '2018-06-04',
 '2018-06-01',
 '2018-05-31',
 '2018-05-30',
 '2018-05-29',
 '2018-05-25',
 '2018-05-24',
 '2018-05-23',
 '2018-05-22',
 '2018-05-21',
 '2018-05-18',
 '2018-05-17',
 '2018-05-16',
 '2018-05-15',
 '2018-05-14',
 '2018-05-11',
 '2018-05-10',
 '2018-05-09',
 '2018-05-08',
 '2018-05-07',
 '2018-05-04',
 '2018-05-03',
 '2018-05-02',
 '2018-05-01',
 '2018-04-30',
 '2018-04-27',
 '2018-04-26',
 '2018-04-25',
 '2018-04-24',
 '2018-04-23',
 '2018-04-20',
 '2018-04-19',
 '2018-04-18',
 '2018-04-17',
 '2018-04-16',
 '2018-04-13',
 '2018-04-12',
 '2018-04-11',
 '2018-04-10',
 '2018-04-09',
 '2018-04-06',
 '2018-04-05',
 '2018-04-04',
 '2018-04-03',
 '2018-04-02',
 '2018-03-29',
 '2018-03-28',
 '2018-03-27',
 '2018-03-26',
 '2018-03-23',
 '2018-03-22',
 '2018-03-21',
 '2018-03-20',
 '2018-03-19',
 '2018-03-16',
 '2018-03-15',
 '2018-03-14',
 '2018-03-13',
 '2018-03-12',
 '2018-03-09',
 '2018-03-08',
 '2018-03-07',
 '2018-03-06',
 '2018-03-05',
 '2018-03-02',
 '2018-03-01',
 '2018-02-28',
 '2018-02-27',
 '2018-02-26',
 '2018-02-23',
 '2018-02-22',
 '2018-02-21',
 '2018-02-20',
 '2018-02-16',
 '2018-02-15',
 '2018-02-14',
 '2018-02-13',
 '2018-02-12',
 '2018-02-09',
 '2018-02-08',
 '2018-02-07',
 '2018-02-06',
 '2018-02-05',
 '2018-02-02',
 '2018-02-01',
 '2018-01-31',
 '2018-01-30',
 '2018-01-29',
 '2018-01-26',
 '2018-01-25',
 '2018-01-24',
 '2018-01-23',
 '2018-01-22',
 '2018-01-19',
 '2018-01-18',
 '2018-01-17',
 '2018-01-16',
 '2018-01-12',
 '2018-01-11',
 '2018-01-10',
 '2018-01-09',
 '2018-01-08',
 '2018-01-05',
 '2018-01-04',
 '2018-01-03',
 '2018-01-02',
 '2017-12-29',
 '2017-12-28',
 '2017-12-27',
 '2017-12-26',
 '2017-12-22',
 '2017-12-21',
 '2017-12-20',
 '2017-12-19',
 '2017-12-18',
 '2017-12-15',
 '2017-12-14',
 '2017-12-13',
 '2017-12-12',
 '2017-12-11',
 '2017-12-08',
 '2017-12-07',
 '2017-12-06',
 '2017-12-05',
 '2017-12-04',
 '2017-12-01',
 '2017-11-30',
 '2017-11-29',
 '2017-11-28',
 '2017-11-27',
 '2017-11-24',
 '2017-11-22',
 '2017-11-21',
 '2017-11-20',
 '2017-11-17',
 '2017-11-16',
 '2017-11-15',
 '2017-11-14',
 '2017-11-13',
 '2017-11-10',
 '2017-11-09',
 '2017-11-08',
 '2017-11-07',
 '2017-11-06',
 '2017-11-03',
 '2017-11-02',
 '2017-11-01',
 '2017-10-31',
 '2017-10-30',
 '2017-10-27',
 '2017-10-26',
 '2017-10-25',
 '2017-10-24',
 '2017-10-23',
 '2017-10-20',
 '2017-10-19',
 '2017-10-18',
 '2017-10-17',
 '2017-10-16',
 '2017-10-13',
 '2017-10-12',
 '2017-10-11',
 '2017-10-10',
 '2017-10-09',
 '2017-10-06',
 '2017-10-05',
 '2017-10-04',
 '2017-10-03',
 '2017-10-02',
 '2017-09-29',
 '2017-09-28',
 '2017-09-27',
 '2017-09-26',
 '2017-09-25',
 '2017-09-22',
 '2017-09-21',
 '2017-09-20',
 '2017-09-19',
 '2017-09-18',
 '2017-09-15',
 '2017-09-14',
 '2017-09-13',
 '2017-09-12',
 '2017-09-11',
 '2017-09-08',
 '2017-09-07',
 '2017-09-06',
 '2017-09-05',
 '2017-09-01',
 '2017-08-31',
 '2017-08-30',
 '2017-08-29',
 '2017-08-28',
 '2017-08-25',
 '2017-08-24',
 '2017-08-23',
 '2017-08-22',
 '2017-08-21',
 '2017-08-18',
 '2017-08-17',
 '2017-08-16',
 '2017-08-15',
 '2017-08-14',
 '2017-08-11',
 '2017-08-10',
 '2017-08-09',
 '2017-08-08',
 '2017-08-07',
 '2017-08-04',
 '2017-08-03',
 '2017-08-02',
 '2017-08-01',
 '2017-07-31',
 '2017-07-28',
 '2017-07-27',
 '2017-07-26',
 '2017-07-25',
 '2017-07-24',
 '2017-07-21',
 '2017-07-20',
 '2017-07-19',
 '2017-07-18',
 '2017-07-17',
 '2017-07-14',
 '2017-07-13',
 '2017-07-12',
 '2017-07-11',
 '2017-07-10',
 '2017-07-07',
 '2017-07-06',
 '2017-07-05',
 '2017-07-03',
 '2017-06-30',
 '2017-06-29',
 '2017-06-28',
 '2017-06-27',
 '2017-06-26',
 '2017-06-23',
 '2017-06-22',
 '2017-06-21',
 '2017-06-20',
 '2017-06-19',
 '2017-06-16',
 '2017-06-15',
 '2017-06-14',
 '2017-06-13',
 '2017-06-12',
 '2017-06-09',
 '2017-06-08',
 '2017-06-07',
 '2017-06-06',
 '2017-06-05',
 '2017-06-02',
 '2017-06-01',
 '2017-05-31',
 '2017-05-30',
 '2017-05-26',
 '2017-05-25',
 '2017-05-24',
 '2017-05-23',
 '2017-05-22',
 '2017-05-19',
 '2017-05-18',
 '2017-05-17',
 '2017-05-16',
 '2017-05-15',
 '2017-05-12',
 '2017-05-11',
 '2017-05-10',
 '2017-05-09',
 '2017-05-08',
 '2017-05-05',
 '2017-05-04',
 '2017-05-03',
 '2017-05-02',
 '2017-05-01',
 '2017-04-28',
 '2017-04-27',
 '2017-04-26',
 '2017-04-25',
 '2017-04-24',
 '2017-04-21',
 '2017-04-20',
 '2017-04-19',
 '2017-04-18',
 '2017-04-17',
 '2017-04-13',
 '2017-04-12',
 '2017-04-11',
 '2017-04-10',
 '2017-04-07',
 '2017-04-06',
 '2017-04-05',
 '2017-04-04',
 '2017-04-03',
 '2017-03-31',
 '2017-03-30',
 '2017-03-29',
 '2017-03-28',
 '2017-03-27',
 '2017-03-24',
 '2017-03-23',
 '2017-03-22',
 '2017-03-21',
 '2017-03-20',
 '2017-03-17',
 '2017-03-16',
 '2017-03-15',
 '2017-03-14',
 '2017-03-13',
 '2017-03-10',
 '2017-03-09',
 '2017-03-08',
 '2017-03-07',
 '2017-03-06',
 '2017-03-03',
 '2017-03-02',
 '2017-03-01',
 '2017-02-28',
 '2017-02-27',
 '2017-02-24',
 '2017-02-23',
 '2017-02-22',
 '2017-02-21',
 '2017-02-17',
 '2017-02-16',
 '2017-02-15',
 '2017-02-14',
 '2017-02-13',
 '2017-02-10',
 '2017-02-09',
 '2017-02-08',
 '2017-02-07',
 '2017-02-06',
 '2017-02-03',
 '2017-02-02',
 '2017-02-01',
 '2017-01-31',
 '2017-01-30',
 '2017-01-27',
 '2017-01-26',
 '2017-01-25',
 '2017-01-24',
 '2017-01-23',
 '2017-01-20',
 '2017-01-19',
 '2017-01-18',
 '2017-01-17',
 '2017-01-13',
 '2017-01-12',
 '2017-01-11',
 '2017-01-10',
 '2017-01-09',
 '2017-01-06',
 '2017-01-05',
 '2017-01-04',
 '2017-01-03',
 '2016-12-30',
 '2016-12-29',
 '2016-12-28',
 '2016-12-27',
 '2016-12-23',
 '2016-12-22',
 '2016-12-21',
 '2016-12-20',
 '2016-12-19',
 '2016-12-16',
 '2016-12-15',
 '2016-12-14',
 '2016-12-13',
 '2016-12-12',
 '2016-12-09',
 '2016-12-08',
 '2016-12-07',
 '2016-12-06',
 '2016-12-05',
 '2016-12-02',
 '2016-12-01',
 '2016-11-30',
 '2016-11-29',
 '2016-11-28',
 '2016-11-25',
 '2016-11-23',
 '2016-11-22',
 '2016-11-21',
 '2016-11-18',
 '2016-11-17',
 '2016-11-16',
 '2016-11-15',
 '2016-11-14',
 '2016-11-11',
 '2016-11-10',
 '2016-11-09',
 '2016-11-08',
 '2016-11-07',
 '2016-11-04',
 '2016-11-03',
 '2016-11-02',
 '2016-11-01',
 '2016-10-31',
 '2016-10-28',
 '2016-10-27',
 '2016-10-26',
 '2016-10-25',
 '2016-10-24',
 '2016-10-21',
 '2016-10-20',
 '2016-10-19',
 '2016-10-18',
 '2016-10-17',
 '2016-10-14',
 '2016-10-13',
 '2016-10-12',
 '2016-10-11',
 '2016-10-10',
 '2016-10-07',
 '2016-10-06',
 '2016-10-05',
 '2016-10-04',
 '2016-10-03',
 '2016-09-30',
 '2016-09-29',
 '2016-09-28',
 '2016-09-27',
 '2016-09-26',
 '2016-09-23',
 '2016-09-22',
 '2016-09-21',
 '2016-09-20',
 '2016-09-19',
 '2016-09-16',
 '2016-09-15',
 '2016-09-14',
 '2016-09-13',
 '2016-09-12',
 '2016-09-09',
 '2016-09-08',
 '2016-09-07',
 '2016-09-06',
 '2016-09-02',
 '2016-09-01',
 '2016-08-31',
 '2016-08-30',
 '2016-08-29',
 '2016-08-26',
 '2016-08-25',
 '2016-08-24',
 '2016-08-23',
 '2016-08-22',
 '2016-08-19',
 '2016-08-18',
 '2016-08-17',
 '2016-08-16',
 '2016-08-15',
 '2016-08-12',
 '2016-08-11',
 '2016-08-10',
 '2016-08-09',
 '2016-08-08',
 '2016-08-05',
 '2016-08-04',
 '2016-08-03',
 '2016-08-02',
 '2016-08-01',
 '2016-07-29',
 '2016-07-28',
 '2016-07-27',
 '2016-07-26',
 '2016-07-25',
 '2016-07-22',
 '2016-07-21',
 '2016-07-20',
 '2016-07-19',
 '2016-07-18',
 '2016-07-15',
 '2016-07-14',
 '2016-07-13',
 '2016-07-12',
 '2016-07-11',
 '2016-07-08',
 '2016-07-07',
 '2016-07-06',
 '2016-07-05',
 '2016-07-01',
 '2016-06-30',
 '2016-06-29',
 '2016-06-28',
 '2016-06-27',
 '2016-06-24',
 '2016-06-23',
 '2016-06-22',
 '2016-06-21',
 '2016-06-20',
 '2016-06-17',
 '2016-06-16',
 '2016-06-15',
 '2016-06-14',
 '2016-06-13',
 '2016-06-10',
 '2016-06-09',
 '2016-06-08',
 '2016-06-07',
 '2016-06-06',
 '2016-06-03',
 '2016-06-02',
 '2016-06-01',
 ...]

In [211]:
spy

,Date,open,high,low,close,adj_close,highest_high,lowest_low,k,k_change
5032,2000-05-18,89.00,89.36,85.38,85.75,75.0926,NaN,NaN,NaN,NaN
5031,2000-05-19,83.75,85.00,81.31,81.69,71.5372,NaN,NaN,NaN,NaN
5030,2000-05-22,81.63,82.25,75.58,81.63,71.4846,NaN,NaN,NaN,NaN
5029,2000-05-23,81.38,82.63,74.25,74.81,65.5123,NaN,NaN,NaN,NaN
5028,2000-05-24,75.00,79.88,72.25,79.50,69.6194,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4,2020-05-14,218.12,221.87,215.99,221.83,221.8300,228.095,203.63,0.727483,-0.253806
3,2020-05-15,218.77,223.33,218.33,223.27,223.2700,228.095,203.63,0.729614,-0.205561
2,2020-05-18,226.28,228.68,225.47,227.43,227.4300,228.680,203.63,0.832266,0.039379
1,2020-05-19,227.66,229.85,226.71,226.86,226.8600,229.850,203.63,0.879615,0.209120
0,2020-05-20,231.09,231.09,231.09,231.09,231.0900,231.090,203.63,0.945355,0.295692

In [93]:
np.nanpercentile(spy.k_change,q=10)

-0.45913701443037197

In [174]:
response.json()[0]

{'date': '2020-05-20',
 'minute': '12:30',
 'label': '12:30 PM',
 'high': None,
 'low': None,
 'open': None,
 'close': None,
 'average': None,
 'volume': 0,
 'notional': 0,
 'numberOfTrades': 0}

In [198]:
pd.to_datetime('today')

Timestamp('2020-05-20 12:48:48.505275')

In [200]:
pd.Timestamp.today().date()

datetime.date(2020, 5, 20)

In [201]:
pd.to_datetime(t[0]).date()

datetime.date(2020, 5, 19)

In [203]:
pd.to_datetime(t[0]).date()==pd.Timestamp.today().date()

False