In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import requests

In [54]:
holdings=['SPY','AZN','MBUU','MSFT']

In [55]:
#ticker, #1wkret #1wkmean, 4wk, 4wkmean, kchange, kchangemean, std, stdmean
res=[[],[],[],[],[],[],[],[],[]]

In [56]:
for ticker in holdings:
    d={'function': 'TIME_SERIES_WEEKLY_ADJUSTED','apikey':"YEUC2DL0F7KC43PB",'symbol':ticker}
    response = requests.get(
            'https://www.alphavantage.co/query',
            params=d,
            )
    #open #high #low #close #adjusted close  #volume #dividend amount
    spy=[[],[],[],[],[],[],[]]
    for key, val in response.json()['Weekly Adjusted Time Series'].items():
        spy[0].append(float(val['1. open']))
        spy[1].append(float(val['2. high']))
        spy[2].append(float(val['3. low']))
        spy[3].append(float(val['4. close']))
        spy[4].append(float(val['5. adjusted close']))
        spy[5].append(float(val['6. volume']))
        spy[6].append(float(val['7. dividend amount']))

    spy=pd.DataFrame({'Date':list(response.json()['Weekly Adjusted Time Series'].keys()),
                     'open':spy[0],
                      'high':spy[1],
                      'low':spy[2],
                      'close':spy[3],
                      'adj_close':spy[4],
                      'volume':spy[5],
                      'dividend':spy[6],
                     })
    spy=spy.astype({'Date': 'datetime64'})
    spy=spy.sort_values(by='Date')    
    spy['ret4wk']=spy.adj_close/spy.adj_close.shift(3)-1
    spy['highest_high']=spy.high.rolling(12).max()
    spy['lowest_low']=spy.low.rolling(12).min()
    spy['k']=(spy.close-spy.lowest_low)/(spy.highest_high-spy.lowest_low)
    spy['k']=spy.k.rolling(3).mean()
    spy['k_change'] = spy.k/spy.k.shift(3)-1
    spy['rstd']=spy.adj_close.rolling(12).std()
    spy['ret1wk']=spy.adj_close/spy.adj_close.shift(1)-1
    d={'ticker':ticker,'k_change':spy.k_change.values[-1]}
    res[0].append(ticker)
    res[1].append(spy.ret1wk.values[-1])
    res[2].append(spy.ret1wk.rolling(3).mean().values[-1])
    res[3].append(spy.ret4wk.values[-1])
    res[4].append(spy.ret4wk.rolling(3).mean().values[-1])
    res[5].append(spy.k_change.values[-1])
    res[6].append(spy.k_change.rolling(3).mean().values[-1])
    res[7].append(spy.rstd.values[-1])
    res[8].append(spy.rstd.rolling(3).mean().values[-1])

In [58]:
res=pd.DataFrame({'ticker':res[0], 
            'ret1wk':res[1],
             'ret1wk_mean':res[2],
             'ret4wk':res[3],
             'ret4wk_mean':res[4],
             'k_change':res[5],
             'k_change_mean':res[6],
             'rstd':res[7],
             'rstd_mean':res[8]
             }
            )

In [59]:
res

,ticker,ret1wk,ret1wk_mean,ret4wk,ret4wk_mean,k_change,k_change_mean,rstd,rstd_mean
0,SPY,0.019876,0.010979,0.032462,0.021465,0.207518,0.193596,20.858759,22.840219
1,AZN,0.002996,0.010941,0.032973,0.047235,-0.051702,0.121458,5.059403,4.780630
2,MBUU,0.129536,0.126040,0.422518,0.431357,1.235588,1.320360,8.079754,8.163150
3,MSFT,0.002566,0.017416,0.051899,0.045089,0.245960,0.291838,15.227043,14.489178

In [9]:
msft=spy.copy(deep=True)

In [14]:
msft['ret4wk']=msft.adj_close/msft.adj_close.shift(3)-1
spy['ret4wk']=spy.adj_close/spy.adj_close.shift(3)-1

In [16]:
spy['highest_high']=spy.high.rolling(12).max()
spy['lowest_low']=spy.low.rolling(12).min()
spy['k']=(spy.close-spy.lowest_low)/(spy.highest_high-spy.lowest_low)
spy['k']=spy.k.rolling(3).mean()
spy['k_change'] = spy.k/spy.k.shift(3)-1

msft['highest_high']=msft.high.rolling(12).max()
msft['lowest_low']=msft.low.rolling(12).min()
msft['k']=(msft.close-msft.lowest_low)/(msft.highest_high-msft.lowest_low)
msft['k']=msft.k.rolling(3).mean()
msft['k_change'] = msft.k/msft.k.shift(3)-1

In [22]:
spy['rstd']=spy.adj_close.rolling(12).std()
msft['rstd']=msft.adj_close.rolling(12).std()

In [25]:
msft['ret1wk']=msft.adj_close/msft.adj_close.shift(1)-1
spy['ret1wk']=spy.adj_close/spy.adj_close.shift(1)-1

In [26]:
msft.tail(10)

,Date,open,high,low,close,adj_close,volume,dividend,ret4wk,highest_high,lowest_low,k,k_change,rstd,ret1wk
9,2020-03-20,140.00,150.15,135.0000,137.35,137.35,421347734.0,0.0,-0.152213,190.70,135.00,0.226001,-0.641828,12.881111,-0.135239
8,2020-03-27,137.01,156.66,132.5200,149.70,149.70,358866845.0,0.0,-0.073467,190.70,132.52,0.242002,-0.424578,13.538858,0.089916
7,2020-04-03,152.44,164.78,150.0100,153.83,153.83,290191457.0,0.0,-0.031480,190.70,132.52,0.234586,-0.239293,13.876028,0.027589
6,2020-04-09,160.32,170.00,157.5800,165.14,165.14,229630744.0,0.0,0.202330,190.70,132.52,0.407414,0.802706,13.859286,0.073523
5,2020-04-17,164.35,180.00,162.3000,178.60,178.60,238965670.0,0.0,0.193053,190.70,132.52,0.572992,1.367711,14.477445,0.081507
4,2020-04-24,176.63,178.75,166.1102,174.55,174.55,194621072.0,0.0,0.134694,190.70,132.52,0.691704,1.948616,14.676007,-0.022676
3,2020-05-01,176.59,180.40,169.3900,174.57,174.57,212119968.0,0.0,0.057103,190.70,132.52,0.745732,0.830404,13.910374,0.000115
2,2020-05-08,174.49,185.00,173.8000,184.68,184.68,158579959.0,0.0,0.034043,188.18,132.52,0.794096,0.385877,13.888795,0.057914
1,2020-05-15,183.15,187.51,175.6800,183.16,183.16,196126640.0,0.0,0.049327,187.51,132.52,0.860257,0.243678,14.351698,-0.008230
0,2020-05-19,185.75,186.60,183.4900,183.63,183.63,61664938.0,0.0,0.051899,187.51,132.52,0.929152,0.245960,15.227043,0.002566

In [38]:
spy.ret4wk.rolling(3).mean().values[-1]
spy.k_change.rolling(3).mean().values[-1]
spy.rstd.rolling(3).mean().values[-1]

22.84021899844733

In [47]:
spy.ret1wk.values[-1]

0.019875646220483656